<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-3">
      <h1 class="text-lg-center text-info">{{ title }}</h1>
    </div>
    <div class="col-12 p-3">
      <h1 class="text-lg-center text-success" *ngIf="data.length == 0">Cargando...</h1>
      <div class="tableFixHead" *ngIf="data.length > 0">
        <table class="table">
          <thead class="thead-dark fixed">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Seller ID</th>
              <th scope="col">Seller Name</th>
              <th scope="col">Marca</th>
              <th scope="col">Envió Gratis</th>
              <th scope="col">Tipo de Logística</th>
              <th scope="col">Lugar de operación del Seller</th>
              <th scope="col">Condición del articulo</th>
              <th scope="col">Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data; let i = index">
              <th scope="row">{{ i+1 }}</th>
              <th>{{ item.seller_id }}</th>
              <td>{{ item.seller_name }}</td>
              <td>{{ item.marca }}</td>
              <td>{{ item.envio_gratis }}</td>
              <td>{{ item.tipo_de_logistica }}</td>
              <td>{{ item.lugar_de_operacion_del_seller }}</td>
              <td>{{ item.condicion_del_articulo }}</td>
              <td>${{ item.rango_de_precios }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> 